WCL_CLIENT_ID=
WCL_CLIENT_SECRET=
# Available regions are us, eu, kr, tw, cn
BNET_REGION=eu
# Available locales
# region: us
#   - en_US
#   - es_MX
#   - pt_BR
# region: eu
#   - en_GB
#   - es_ES
#   - fr_FR
#   - ru_RU
#   - de_DE
#   - pt_PT
#   - it_IT
# region: kr
#   - ko_KR
# region: tw
#   - zh_TW
# region: cn
#   - zh_CN
BNET_LOCALE=en_GB
BNET_CLIENT_ID=
BNET_CLIENT_SECRET=
