name: Node.js CI

on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        env:
            CI: true

        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up using pnpm
              uses: oBusk/action-pnpm-setup@v1
            - name: Check Linting
              run: pnpm run lint

    test:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        env:
            CI: true

        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Set up using pnpm
              uses: oBusk/action-pnpm-setup@v1
            - name: Run tests
              run: pnpm run test-ci

    # build:
    #     runs-on: ubuntu-latest
    #     timeout-minutes: 5
    #     env:
    #         CI: true

    #     steps:
    #         - name: Checkout
    #           uses: actions/checkout@v4
    #         - name: Set up using pnpm
    #           uses: oBusk/action-pnpm-setup@v1
    #         - name: Build
    #           run: pnpm run build
    #         - name: Check for uncommitted changes
    #           id: check-changes
    #           uses: mskri/check-uncommitted-changes-action@v1.0.1
    #         - name: There are uncommited changes
    #           if: steps.check-changes.outputs.changes != ''
    #           run: exit 1
